.dropdown-toggle {
  background-color: transparent;
  outline: none;
  border: none;
}

#AcccessibilityMenu .dropdown-toggle svg,
.dropdown-item svg {
  --svg-size: 1.25rem;
  width: var(--svg-size);
  height: var(--svg-size);
}

/* Hover effects for accessibility menu SVG icons */
#AcccessibilityMenu .btn:hover svg path {
  stroke: var(--pst-color-secondary);
}

/* Hover effects for dropdown items */
#AcccessibilityMenu .dropdown-item:hover svg path {
  stroke: var(--pst-color-secondary);
  fill: var(--pst-color-secondary);
}

#AcccessibilityMenu .dropdown-item:hover svg {
  fill: var(--pst-color-secondary);
}

#AcccessibilityMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-menu {
  display: none;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
  background-color: var(--pst-color-on-background) !important;
}

.btn__text-container {
  color: var(--pst-color-text-muted);
}

.btn__text-container:hover {
  color: var(--pst-color-secondary);
}

.dropdown-menu li {
  list-style: none;
}

@media (min-width: 960px) {
  .col-lg-3 {
    width: initial;
  }
}
