.dropdown-toggle {
  background-color: transparent;
  outline: none;
  border: none;
}

/* Size the main accessibility button SVG 20% larger */
#AcccessibilityMenu .dropdown-toggle svg {
  /* transform: scale(1.1); */
  width: 1.25rem;
  height: 1.25rem;
}
#AcccessibilityMenu .dropdown-toggle svg path {
  /* stroke: var(--currentcolor); */
  /* fill: var(--color-foreground-primary); */
  opacity: 0.8;
}

/* Hover effects for accessibility menu SVG icons */
#AcccessibilityMenu .btn:hover svg path {
  /* stroke: var(--color-foreground-primary) !important; */
  /* stroke: var(--color-link--hover); */
  stroke: var(--pst-color-secondary);
  fill: var(--pst-color-secondary);
  /* fill: var(--pst-color-text-base) !important; */
  /* fill: var(--color-link--hover); */
}

/* Hover effects for dropdown items */
#AcccessibilityMenu .dropdown-item:hover svg path {
  /* stroke: var(--color-foreground-primary) !important;
  fill: var(--color-foreground-primary) !important; */
  /* stroke: var(--color-link--hover);
  fill: var(--color-link--hover); */
  stroke: var(--pst-color-secondary);
  fill: var(--pst-color-secondary);
}

#AcccessibilityMenu .dropdown-item:hover svg {
  /* fill: var(--color-link--hover); */
  fill: var(--pst-color-secondary);
}

#AcccessibilityMenu,
.dropdown-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.dropdown-menu {
  display: none;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}

.btn__text-container {
  display: none;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-item svg {
  width: 1.25rem;
  height: 1.25rem;
  stroke: var(--color-foreground-primary);
  fill: var(--color-foreground-primary);
  opacity: 0.8;
}

.visible {
  display: flex;
}

.hide {
  display: none;
}
